/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 7, 2024, 11:43:49 PM
    Author     : ADMIN
*/

.rating {
    display: inline-block;
    opacity: 1;
}

.rating input {
    display: none;
    opacity: 1;
}

.rating label {
    float: right;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
    transition: color 0.3s;
}

.rating input:checked ~ label {
    color: #ffc300;
    transition: color 0.3s;

}
.card-img{
    position: relative;
    height: 80px;
    width: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: solid 2px black;
    
}


/*/////////////////////////////Button yêu cầu đăng nhập/////////////////////////////////////////*/

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: rgb(52,152,219);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgb(52,152,219);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/*===========================button viết đánh giá============================*/
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(52,152,219);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
   
    transition-duration: .3s;
}

.svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btn:hover {
    color: transparent;
}

.Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}
 h2 ,label,input,p,h1{
     font-family: "Tilt Neon", sans-serif;
}





.sidebar {
    position:  sticky; /* Đảm bảo sidebar cố định trên màn hình */
   
    top: 5%; /* Đặt vị trí từ trên xuống 50% */
   
}